/* Login Page Styles - css/login.css */

.login-form {
   
}

.login-options {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.login-options a {
    font-weight: 500;
    color: var(--main-text-color);
    margin: 0 5px;
}

.login-options a:hover {
    text-decoration: underline;
}